:root {
  --principal-font: 'Lato', sans-serif;
  --primary: #da595e;
  --dark: #484848;
  --aside: #999999;
  --hover: #da5555;
  --title: #bb5151;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: var(--principal-font);
  color: #fafaf1;
}

.content {
  height: 100vh;
  max-width: 1400px;
  display: grid;
  grid-template-areas:
    'header'
    'main-content'
    'footer';
}

header {
  display: grid;
  background: var(--primary);
  text-align: center;
}

header .nabvar {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

h2 {
  background: var(--title);
  color: var(--dark);
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-areas:
    'aside'
    'section';
}
section {
  grid-area: section;
}

aside {
  grid-area: aside;
  background-color: #da595e;
  background: var(--aside);
}

.rate-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

label {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
button,
input,
select {
  border: none;
  border-radius: 0.2rem;
  width: 120px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

button {
  background: var(--primary);
  color: var(--cwhite);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background: var(--hover);
  color: var(--dark);
  transition: 0.5s;
}

input{
  color: #111111;
  font-weight: 700;
}

footer {
  background: rgb(25, 151, 25);
  grid-area: footer;
}

li {
  list-style-type: none;
}

.list-movies {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  display: grid;
  justify-content: center;
  /* grid-template-areas: 'image'; */
  gap: 2rem;
}

.list-movies li {
  background: var(--dark);
  color: #fafaf1;

  border-radius: 0.5rem;
}

.list-movies li img {
  width: 100%;
  border-radius: 0.5rem;
}

.list-movies li rate {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
}

.list-movies li h3 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem auto;
  text-align: center;
  color: var(--primary);
}

.list-movies .errorSearch {
  background: orange;
}

@media screen and (min-width: 768px) {
  .main-content {
    grid-template-areas:
      'aside section section section section'
      'aside section section section section ';
  }

  .rate-aside {
    flex-direction: column;
    justify-content: center;
  }

  .list-movies {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .list-movies li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .list-movies li h3 {
    font-size: 1.2rem;
  }

  .list-movies p {
    margin: 0 auto;
    font-size: 0.8rem;
  }

  .list-movies li rate {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
  }
}
